server:
  port: 8085

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: security-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/v1/auth/**

        - id: stories-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/stories/**

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods: "*"
            allowedHeaders: "*"
            exposedHeaders: "*"
            allowCredentials: true

jwt:
  secret: 12345df78abc00000000000aaaaaak123a4aaaaaa231a345aaa98baaaacdafaahaj