server:
  port: 8085

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: security-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/v1/auth/**

        - id: stories-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/stories/**

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - "GET"
              - "POST"
              - "PUT"
              - "DELETE"
              - "OPTIONS"
            allowedHeaders: "*"
            allowCredentials: true

jwt:
  secret: 12345df78abc0000000000aaaaaaak1234aaaaaa231345aaa98bbaaacdfaaahaj