server:
  port: 8082

spring:
  application:
    name: email-service

  profiles:
    default: dev

---
spring:
  config:
    activate:
      on-profile: dev

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: email-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: "*"

  mail:
    host: smtp.gmail.com
    port: 587
    username: seu_email_aqui
    password: sua_senha_app
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

---
spring:
  config:
    activate:
      on-profile: docker

  kafka:
    bootstrap-servers: kafka:19092
    consumer:
      group-id: email-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: "*"

  mail:
    host: smtp.gmail.com
    port: 587
    username: seu_email_aqui
    password: sua_senha_app
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true