<div class="table-wrapper">
  <div class="table-header">
  <div class="filter-field custom-filter" *ngFor="let f of filters">
    
    <label class="filter-label">{{ f.label }}</label>

    <input
      *ngIf="!f.type || f.type === 'text'"
      type="text"
      class="filter-input"
      [placeholder]="f.label" 
      (keyup)="onFilterChange(f.field, $event)" 
    />

    <input
      *ngIf="f.type === 'number'"
      type="number"
      class="filter-input"
      (change)="onFilterChange(f.field, $event)"
    />

    <select
      *ngIf="f.type === 'select'"
      class="filter-input"
      (change)="onFilterChange(f.field, $event)">
      <option value="">Todos</option>
      <option *ngFor="let option of f.options" [value]="option">{{ option }}</option>
    </select>
    

    <input
      *ngIf="f.type === 'date'"
      type="date"
      class="filter-input"
      (change)="onFilterChange(f.field, $event)"
    />
  </div>
</div>

</div>